name: Firebase Hosting Deploy

on:
  push:
    branches:
      - main  # Trigger deploy only when changes are pushed to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '22'  # Use the Node.js version you're working with

    - name: Install dependencies
      run: npm install

    - name: Build React app
      run: npm run build

    - name: Deploy to Firebase Hosting
      uses: firebase/actions/hosting-deploy@v0
      with:
        firebase_token: ${{ secrets.FIREBASE_TOKEN }}
        project_id: visit-oromia-80851
